version: "3.7"
services:
  dart-pad:
    build:
      context: .
      dockerfile: Dockerfile-dart-pad
    image: liudonghua123/dart-pad
    networks:
      - nginx-proxy
    ports:
      - "8000"
    environment:
      - VIRTUAL_HOST=dart-pad.api.ynu.edu.cn
    entrypoint: bash -c "cd /dart-pad && DARTPAD_BACKEND=http://dart-services.api.ynu.edu.cn grind serve-custom-backend"

  dart-services:
    build:
      context: .
      dockerfile: Dockerfile-dart-services
    image: liudonghua123/dart-services
    networks:
      - nginx-proxy
    ports:
      - "8082"
    environment:
      - VIRTUAL_HOST=dart-services.api.ynu.edu.cn

networks:
  nginx-proxy:
    external:
      name: nginx-proxy-default
